@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: antiquewhite;
}

$color-danger: #ed4245 !global;
$color-text: #ffffff;
$color-primary-dark: #36393f;
$color-primary-darker: #2f3136;
$color-primary-bold: #202225;

