@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: antiquewhite;
}

// Palete
$black-darker: #23272a;
$grey-dark: #2c2f33;
$grey-light: #99aab5;
$purple: red;//#7289da;
// ------

$color-danger: #ed4245;
$color-text: #ffffff;
$color-text-secundary: #777777;

$color-primary-dark: #2c2f33;
$color-primary-darker: #23272a;
$color-primary-bold: #202225;

$color-background-chat: #36393e;
$color-background-global-chat: #2e3136;
$color-mark-contact: $purple;
$color-add-contact: $purple;

$height-header: 4rem;

@mixin input-form( $background-color:  $color-primary-bold) {
    background-color: $background-color;
	border: solid 1px black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
