* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu';
}

body {
	//background-color: #263238;
}

.App{

	width: 95vw;
	margin: 0 auto;

	.title{
		margin: 25px 0px;
		font-size: large;
		font-family: 'Unispace';
		a {
			text-decoration: none;
			color:inherit;
		}
	}

	.chat {
		background-color: #f7f7f7;
		width: 95%;
		height: 80vh;
		border-radius: 5px;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 1fr 3fr;

		.space-of-contacts{
			display: grid;
			grid-template-rows: 50px auto;
			position: relative;
			background-color:#21242B;

			.options {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 0.3rem;
				display: flex;
				flex-direction: column;
			}
		}
		.space-of-messages {
			background-color: #282D33;
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-rows: auto 50px;
		}
	}
}
