@import "../../index";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu';
}

body {
	background-color: $color-primary-dark;
}

.App{
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 3fr;

	.space-of-contacts{
		position: relative;
		background-color: $color-primary-darker;

		.options {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0.3rem;
			display: flex;
			flex-direction: column;
		}
	}
	.space-of-messages {
		background-color: $color-primary-dark;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
	}
}
