@import '../../../index';

.block-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;

    font-family: 'Ubuntu';
	color: $color-text;

	position: relative;

    img {
        height: 40px;
    }

    .pin{
        background-color:  rgb(107, 107, 243);  //$color-mark-contact;
        border-radius: 5px;
        padding: 5px;
        font-size: 17pt;
        font-weight: bold;
		color: $color-primary-darker;
    }

    background-color: $color-primary-darker;
    border-top-left-radius: 3px;
}
