.msg-without-contact{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
	color: gray;
    
    font-family: 'Ubuntu';
}
