@import '../../../../index';

.contacts{
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: $color-primary-darker;
}

.block-chat {
    display: flex;
    width: 100%;
    font-family: 'Ubuntu';
    padding: 5px;

    img {
        height: 50px;
        margin-right: 5px;
    }

    background-color: dimgray;
    &:hover{
        background-color: rgb(156, 154, 154);
    }
}

